/* Fonts */

@font-face {                                                                                                                                                                         
    font-family: 'Akkurat-Mono';                                                                                                                                                             
    font-weight: 400;                                                                                                                                                              
    src: url("/fonts/AKKURAT-Mono.OTF") format("opentype");                                                                                                                      
}     

@font-face {                                                                                                                                                                         
    font-family: 'IBM Plex Sans';                                                                                                                                                             
    font-weight: 400;                                                                                                                                                                
    src: url("/fonts/IBMPlexSans-Regular.otf") format("opentype");                                                                                                                      
}     

@font-face {                                                                                                                                                                         
    font-family: 'IBM Plex Sans';                                                                                                                                                             
    font-weight: 800;                                                                                                                                                                
    src: url("/fonts/IBMPlexSans-Medium.otf") format("opentype");                                                                                                                      
}     

@font-face {                                                                                                                                                                         
    font-family: 'IBM Plex Sans';                                                                                                                                                             
    font-weight: 200;                                                                                                                                                                
    src: url("/fonts/IBMPlexSans-ExtraLight.otf") format("opentype");                                                                                                                      
}       

body {
    background-color: white;
    font-family: 'IBM Plex Sans';
    font-variant-ligatures: none;
}

/** Mobile nav **/

#mobilenav a {
    color: #fff;
}

#mobilenav a:hover {
    color: #fff;
}

#header {
    background-color: #17111D;
    background-image: url('../img/rebg0.png');
    background-size: cover;
    color: #B1D0FF;
    color: white;
}

#logo {
    width: 60px;
    float: left;
    padding-right: 10px;
}

/* Logo Menu */
#logo-menu-topbar {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 50px;
}

#title {
    font-size: 28px;
    color: white;
}

/* Teaser */
#teaser {
    padding-bottom: 50px;
}

#teaser #tagline {
    color: #FFF;
    font-weight: 200;
    padding-bottom: 20px;
}

#teaser #tagline-description {
    font-family: 'Akkurat-Mono';
    font-weight: 100;
    line-height: 30px;
    padding-bottom: 20px;
}

/* Comment bar */
#commentbar {
    background-color: #FAF8FF;
    border-bottom: 1px solid #DDD3EB;  
    color: #222;
    padding-top: 15px;
    padding-bottom: 15px;
}

#comment {

}

/* Second Tagline */
#secondtagline {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

#secondtagline-one {
    font-family: 'Akkurat-Mono';
    font-size: 18px;
    color: #746D87;
    line-height: 30px;
}

#secondtagline-two {
    font-size: 24px;
    font-weight: 800;
}

hr {
    width: 100px;   
}

/* Features */

.feature {
    min-height: 200px;
}

.feature h4 {
    padding-bottom: 10px;
    font-weight: 800;
}

.feature p {
    font-family: 'Akkurat-Mono';
    line-height: 30px;
}

/* Third tagline */
#thirdtagline {
    text-align: center;
    padding-bottom: 50px;
}

#thirdtagline-two {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 800;
}

/* Footer */

#footer {
    background-color: #17111D;
    color: #80829C;
}

#footer-content {
    min-height: 100px;
}

#footer .nav-item {
    padding: 0;
    margin: 0;
}

#footer .nav-item a {
    color: #80829C;
}

#footer .nav-item a:hover {
    color: #B1D0FF;
}

/* Overwrites */

#col-menu .nav-item {
    padding-left: 20px;
}

#col-menu a.nav-link {
    color: #B1D0FF;
}

#col-menu a:hover.nav-link {
    color: #FFF;
}

.btn-light {
    border: 1px solid #362C3F;
}
.btn-light:hover {
    border: 1px solid #362C3F;
}

.btn-primary {
    background-color: #6F5ECE;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(151, 139, 221);
    background-color: #6992FB;
    border: none;
}

/* Mailing list */

#mailinglist {
    min-height: 300px;
}

.bg-dark {
    background-color: #17111D !important;
}

.desktop {
    display: none;    
}

/* Careers */

.jobcol {
    padding-top: 25px;
    padding-bottom: 25px;
}


/* Prices */

#pricing {
    margin-bottom: 4rem;
}

.pricetable {
    border: 1px solid #dee2e6;
}

.pricetable th {
    border: 1px solid #dee2e6 !important;
}

.thead-prices {
    text-align: center;
    background-color: #FAF8FF;
}

.thead-info {
    text-align: center;
    font-weight: 400;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .desktop {
        display: block;
        margin: 0 auto;
    }
    .mobile {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

